.mainSlides {
  display: grid;
  grid-template-columns: 7fr 5fr;
}

.slideInfo {
  padding: 10rem 7rem;
  position: relative;
}

.slideInfo h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.slideInfo p {
  font-size: 1.5rem;
  line-height: 1.3;
  color: var(--dark-gray);
  margin-bottom: 2rem;
}

.slideInfo a {
  color: var(--very-dark-gray);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
}

.slideInfo a:after {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 5rem;
  background: url("../../Helpers/images/icon-arrow.svg") no-repeat center center;
  margin-left: 2rem;
}

.slideInfo a:hover {
  color: var(--dark-gray);
}

.buttonWrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}
