.about {
  display: grid;
  grid-template-columns: 3.5875fr 5fr 3.75fr;
}

.aboutInfo {
  padding: 5rem 3rem;
}

.aboutInfo h2 {
  font-size: 1.5rem;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.aboutInfo p {
  font-size: 1.25rem;
  line-height: 1.3;
  color: var(--dark-gray);
}

@media (max-width: 1320px) {
  .aboutInfo {
    padding: 3rem 2rem;
  }
}
