.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.675rem;
  background-color: var(--black);
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid transparent;
}

.button:hover,
.button:active {
  background-color: var(--very-dark-gray);
}

.button:disabled {
  background: var(--dark-gray);
  cursor: not-allowed;
}

@media (max-width: 1400px) {
  .button {
    padding: 2.2vw;
  }
}
